@layer parallax {
  @keyframes parallax {
    from { transform: translate(0%, -50%); }
    to { transform: translate(0%, 50%); }
    
  }
  @supports not (animation-timeline: scroll()) {
    img {
      transform: translate(0%, 0%) !important;
    }
  }
}
/* Hide scrollbar in WebKit browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE/Edge */
}

